@import url('../css/microwlights.css');
/* iCONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    background-image: url('../img/background/bg-body.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* position: absolute; */
    background-position-y: 0.0em;
    background-position-x: 6em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Layout Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.container-fluid {
    padding: 0 2.8rem 0 2.8rem;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Search Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Form search */

.DocSearch-Button {
    width: 100%;
    height: 38px;
}

.bd-search {
    position: absolute;
    top: 0.800rem;
    left: 55%;
    width: 100px;
    margin-left: -100px;
}

.bd-search {
    width: 209px;
    margin-left: -165px;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.DocSearch-Button {
    align-items: center;
    background: var(--white);
    border: 1px solid var(--secondary-100);
    border-radius: 8px;
    color: var(--secondary-700);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 44px;
    justify-content: space-between;
    margin: 0 0 0 100px;
    user-select: none;
    font-size: 14px;
    padding: 10px;
}

.DocSearch-Button:hover {
    border: 1px solid var(--secondary-300);
}

/* icon search */
.DocSearch-Button .DocSearch-Search-Icon {
    opacity: .65;
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: var(--secondary-500);
}

.DocSearch-Search-Icon {
    stroke-width: 1.6;
}

.DocSearch-Button-Keys {
    min-width: 0;
    padding: 4px;
    background: var(--white);
    border-radius: 6px;
    color: var(--secondary-900);
    border: 1px solid var(--secondary-300);
}

.DocSearch-Button-Key {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.2px;
}

.DocSearch-Button-Key {
    align-items: center;
    background: var(--white);
    border-radius: 3px;
    color: var(--secondary-900);
    display: flex;
    height: 13px;
    justify-content: center;
    position: relative;
    padding: 0;
    border: 0;
    left: 1px;
}

.DocSearch-Button-Keys {
    display: flex;
    min-width: calc(40px + 0.1em);
}

.DocSearch-Button-Placeholder {
    color: var(--secondary-500);
}

.DocSearch-Modal {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    flex-direction: column;
    margin: 0 auto;
    max-width: 47.375rem;
    width: 100%;
    position: relative;
    min-height: 0;
}


.DocSearch-Container,
.DocSearch-Container * {
    box-sizing: border-box;
}

.DocSearch-SearchBar {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--secondary-200);
}

.DocSearch-Form {
    display: flex !important;
    min-width: 0;
    flex: 1 1 auto !important;
    align-items: center;
}

.DocSearch-Input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 3.5rem;
    color: (--secondary-700) !important;
    margin-left: 0.75rem;
    margin-right: 1rem;
    flex: auto !important;
    min-width: 0;
    border: none !important;
    font-size: var(--large-text-medium-font-size);
    line-height: --large-text-medium-font-line-heigh;
    width: 80%;
}


.DocSearch-Input:focus,
.DocSearch-Input:hover {
    border: none !important;
    outline: none;
    font-size: var(--large-text-medium-font-size);
    line-height: var(--large-text-medium-font-line-height);
    font-weight: bold;
    color: var(--secondary-700) !important;
}

.search-results .card .card-body {
    background-color: var(--secondary-100);
    padding: 13px;
    color: var(--secondary-500)
}

.search-results .card .card-body:hover {
    background-color: var(--primary-500) !important;
    color: var(--secondary-100);
    transition: 0.5s;
}

.search-results .bg-icon {
    border: 1.5px solid var(--secondary-200);
    background-color: white;
    border-radius: 30%;
}

.search-results .card .card-body small.menu {
    font-size: var(--large-text-medium-font-size);
    line-height: var(--large-text-medium-font-line-height);
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    position: absolute;
    margin-top: 3px;
}


.btn-ctrl {
    padding: 4px 8px;
    border: 1px solid var(--secondary-300);
    font-size: 10px;
    color: var(--secondary-900);
    border-radius: 6px;
    font-weight: bold;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Card Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.bg-card-doc {
    background-color: var(--secondary-50) !important;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--secondary-100) 1px, transparent 1px),
        linear-gradient(to bottom, var(--secondary-100) 1px, transparent 1px);
    overflow: hidden !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Navbar Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header.navbar-doc {
    padding: 0.9rem 0;
    border-bottom: 1.5px solid;
    color: var(--secondary-200);
    background: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(18.5px);
    background-color: rgba(255, 255, 255, 0.534);
}


header.navbar.shrink {
    padding: 0.9rem 0;
    border-bottom: 1.5px solid;
    color: var(--secondary-200);
    background: rgba(255, 255, 255, 0.897);
    backdrop-filter: blur(18.5px);
    background-color: rgba(255, 255, 255, 0.952);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}



header.navbar .nav-item,
header.navbar .nav-item a {
    font-size: var(--text-medium-font-size);
    font-weight: bold;
    line-height: var(--text-medium-font-line-height-text-medium);
    color: var(--secondary-900);
}

header.navbar li.nav-item .btn-link {
    font-size: var(--small-text-medium-font-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--small);
    color: var(--secondary-600);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Sidenav Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.sidenav-menu-heading,
.sidenav-menu-item {
    padding-left: 2.8rem;
}

.sidenav-menu-heading {
    font-size: 10px;
    line-height: 150%;
    font-weight: var(--font-weight-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidenav-menu-list-items {
    margin: 10px 0;
    width: 100%;
}

.sidenav-menu-item {
    font-size: var(--text-medium-font-size);
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
}

.sidenav-menu-item {
    color: var(--secondary-900);
}

.sidenav-menu-item:hover {
    color: var(--primary-500);
}

.sidenav-menu-item.active {
    color: var(--primary-500);
}

.sidenav-menu-heading {
    color: #a7aeb8;
}

.p-nav-item {
    padding-left: 0.5em;
}

.offcanvas-sidenav-mobile .offcanvas-body a.nav-link {
    font-size: var(--text-medium-font-size);
    line-height: var(----text-medium-font-line-height-text-medium);
    font-weight: bold;
    color: var(--secondary-700);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Tree folder
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* The list style
-------------------------------------------------------------- */

.directory-list ul {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dashed var(--secondary-500);
}

.directory-list li {
    list-style: none;
    color: var(--secondary-500);
    font-size: 15px;
    font-weight: normal;
}

.directory-list a {
    border-bottom: 1px solid transparent;
    color: var(--secondary-500);
    text-decoration: none;
    transition: all 0.2s ease;
}

.directory-list a:hover {
    border-left: 1px dashed var(--secondary-500);
    color: var(--secondary-700);
}

.directory-list .folder,
.directory-list .folder>a {
    color: var(--secondary-600);
    font-weight: bold;
}


/* The icons
-------------------------------------------------------------- */

.directory-list li:before {
    margin-right: 10px;
    content: "";
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    /* file icon by default */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
    background-position: center 2px;
    background-size: 60% auto;
}

.directory-list li.folder:before {
    /* folder icon if folder class is specified */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
    background-position: center top;
    background-size: 75% auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Documentation Content Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.doc-content h4.sub-title-content {
    font-size: var(--extra-large-text-medium-font-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--extra-large-text-medium-font-line-height);
    color: var(--secondary-900);
}

.doc-content p {
    font-size: var(--text-medium-font-size);
    line-height: text-medium-font-line-height-text-regular;
    font-weight: var(--font-weight-regular);
    color: var(--secondary-600);
}


section.contents ul.list:first-of-type {
    position: fixed;
    right: 10px;
    top: 100px;
    width: 200px;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    list-style: none;
    border-left: 1px solid var(--secondary-300);
    padding-left: 20px;
}

section.contents ul.list {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 15rem);
    overflow-y: auto;
}

section.contents ul.list:first-of-type li a {
    display: block;
    color: var(--secondary-900);
    text-decoration: none;
    font-size: var(--text-medium-font-size);
}

a.scroll-item {
    padding-bottom: 0.5em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Documentation Note Doc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--warning-100, var(--primary-500));
    border-left: 0.25rem solid var(--warning-400, var(--secondary-300));
}